/auth/nbproject/private/
/auth/build/
/auth/dist/
/sandbox/nbproject/private/
/sandbox/build/
/sandbox/dist/
/data/nbproject/private/
/data/build/
/data/dist/
/core_service/core_service/nbproject/private/
/core_service/core_service/build/
/core_service/core_service/dist/
/map/nbproject/private/
/map/build/
/map/dist/
/deprecated/webapp/landanalysis/landanalysis/nbproject/private/
/deprecated/webapp/landanalysis/landanalysis/dist/
/deprecated/webapp/landanalysis/landanalysis/build/
/deprecated/webapp/core_server/nbproject/private/
/deprecated/Kloudgis-server/nbproject/private/